@model IEnumerable<ReactTestingProject.Models.Customer_Table >


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>new pages</h1>
<div id='new'></div>
@section Scripts{
    <script src="~/Scripts/React/dist/customer.bundle.js"></script>
    
}
